@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  font-family: revert;
}

div {
  overflow-x: hidden;
}

.single-item {
  transition: .5s;
  cursor: pointer;
}

.single-item:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.card {
  border: none;
}

.card-body {
  padding-bottom: 0;
}

.checkout-btn {
  background-color: #80808066;
  color: #fff;
  padding: 6px 50px;
  border-radius: 5px;
}

p {
  font-size: 14px;
}
.card-img-top {
  width: 75%;

  margin: 0 auto;
}
.list-group-item {
  border:none;
}